@import url(https://fonts.googleapis.com/css?family=Bevan)

blue = #3A849C
orange = #FAAB57
green = #40B768

body
  background-color blue
  margin 0em

.layout
  height 6em
  background-color orange

.logo
  width 5em
  margin-left 1em
  margin-top 0.5em

.title
  display inline-block
  position relative
  top -0.9em
  left 0.5em
  font 2.2em 'Bevan' cursive

.pomodoro-timer
  margin 3em auto
  background-color green
  width 7em
  .start-timer-icon
  .stop-timer-icon
    margin 1em 0.9em 0em 0.9em
    cursor pointer
  .time
    font 1.8em 'Bevan' cursive
    margin 0.2em 0.5em
