blue = #3A849C
orange = #FAAB57
green = #40B768

body
  background-color blue
  margin 0em

.timer
  margin 3em auto
  background-color green
  width 7em
  .start-timer-icon
  .stop-timer-icon
    margin 1em 0.9em 0em 0.9em
    cursor pointer
  .time
    font 1.8em Bevan, cursive
    margin 0.2em 0.5em
